extends ../layouts/layout-sidebar

block content
  .container-fluid.flex-grow-1.container-p-y
    h4.d-flex.justify-content-between.align-items-center.py-2.mb-4
      .font-weight-bold=title
        .text-muted.text-tiny.mt-1
          small.font-weight-normal Сегодня, #{to_day}
      button.btn.btn-primary(type='button') Заселение &nbsp; 
        i.sidenav-icon.ion.ion-md-add  
    //.card.mb-4
      .card-body
        .mb-3.row
            .input-group.mb-3
              input(type="text" id="qr_text" name="text_box" class="form-control" placeholder="Введите значение")
              button(type="sumbit" class="btn btn-primary" onclick="get_QR()") Получить QR-code
        .mb-3.row 
          img(src="" name="images" id="qr_img" alt="")

    .row 
      .col-sm
        .card.mb-4
          .card-body 
            .d-flex.align-items-center
              .lnr.lnr-home.display-4.text-danger
              .ml-3 
                .text-muted.small 
                span Общ. №2
                .text-large 
                | #{count_pers_t_host_2.pers} / #{count_pers_f_host_2.pers}

      .col-sm
        .card.mb-4
          .card-body 
            .d-flex.align-items-center
              .lnr.lnr-home.display-4.text-danger
              .ml-3 
                .text-muted.small 
                span Общ. №3
                .text-large 
                | #{count_pers_t_host_3.pers} / #{count_pers_f_host_3.pers} 
                         
      .col-sm
        .card.mb-4
          .card-body 
            .d-flex.align-items-center
              .lnr.lnr-home.display-4.text-danger
              .ml-3 
                .text-muted.small 
                span Общ. №4
                .text-large 
                | #{count_pers_t_host_4.pers} / #{count_pers_f_host_4.pers}

      .col-sm
        .card.mb-4
          .card-body 
            .d-flex.align-items-center
              .lnr.lnr-home.display-4.text-danger
              .ml-3 
                .text-muted.small 
                span Общ. №5
                .text-large 
                | #{count_pers_t_host_5.pers} / #{count_pers_f_host_5.pers}

      .col-sm
        .card.mb-4
          .card-body 
            .d-flex.align-items-center
              .lnr.lnr-home.display-4.text-danger
              .ml-3 
                .text-muted.small 
                span Общ. №7
                .text-large 
                | #{count_pers_t_host_7.pers} / #{count_pers_f_host_7.pers}

    .card.mb-4 
      h5.card-header.with-elements.border-0.pt-3.pb-0
        span.card-header-title
          i.ion.ion-md-stats.text-primary 
          | &nbsp; Статистика посещаемости
        .card-header-elements.ml-auto
          div(class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons")
            label.btn.btn-default.md-btn-flat.active
              input(type='radio', name='btn-radio' checked='true')
              | сегодня
            label.btn.btn-default.md-btn-flat
              input(type='radio', name='btn-radio')
              | 7 дней
            label.btn.btn-default.md-btn-flat
              input(type='radio', name='btn-radio' )
              | месяц    
      hr.border-light.mb-0
      .row.no-gutters.row-bordered
        .col-md-8.col-lg-12.col-xl-8
          .card-body
            div( style="height:280px;")
              canvas(id="statistics-chart-1" style="display: block; width: 976px; height: 280px;" width="976px" height="280")
        .col-md-4.col-lg-12.col-xl-4
          .card-body
            .row
              .col-6.col-xl-5.text-muted.mb-3 Общее количество заселенных:
              .col-6.col-xl-7.mb-3
                span.text-big.text-success #{count_person.pers }

              .col-6.col-xl-5.text-muted.mb-3 Кол. заблокированных в Общ.№2:
              .col-6.col-xl-7.mb-3
                span.text-big.text-danger #{count_blocked_host_2.pers }
              .col-6.col-xl-5.text-muted.mb-3 Кол. заблокированных в Общ.№3:
              .col-6.col-xl-7.mb-3
                span.text-big.text-danger #{count_blocked_host_3.pers }
              .col-6.col-xl-5.text-muted.mb-3 Кол. заблокированных в Общ.№4:
              .col-6.col-xl-7.mb-3
                span.text-big.text-danger #{count_blocked_host_4.pers }
              .col-6.col-xl-5.text-muted.mb-3 Кол. заблокированных в Общ.№5:
              .col-6.col-xl-7.mb-3
                span.text-big.text-danger #{count_blocked_host_5.pers }
              .col-6.col-xl-5.text-muted.mb-3 Кол. заблокированных в Общ.№7:
              .col-6.col-xl-7.mb-3
                span.text-big.text-danger #{count_blocked_host_7.pers }         


block scripts 
  // Sripts
  script(type="text/javascript" src="assets/vendor/libs/popper/popper.js")
  script(type="text/javascript" src="assets/vendor/js/bootstrap.js")
  script(type="text/javascript" src="assets/vendor/js/sidenav.js")
  // Libs
  script(type="text/javascript" src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js")
  script(type="text/javascript" src="assets/vendor/libs/chartjs/chartjs.js")

  script(type="text/javascript" src="assets/js/dashboards_dashboard-5.js")
  // Demo
  script(type="text/javascript" src="assets/js/demo.js")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js") 
    
  // Обработчик
  //script.
        async function get_QR() {
            return await axios
                .post("http://localhost/scan", {
                  text_box: document.getElementById('qr_text').value
                })
                .then(function (response) {
                  document.getElementById('qr_img')
                    .setAttribute('src', response.data)
                })
                .catch(function (error) {
                    alert(error);
                });
        }

                  

